/* Reset some default styles */
body,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

/* Apply a basic styling to the body */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

/* Style the header and navigation */
header {
  background-image: url(./img/banner.jpg);
  background-size: cover;
  background-position-y: 40%;
  color: #ecf0f1;
  height: 350px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
  /* margin-left: 15%;
  margin-right: 15%; */
  background-color: rgba(0, 0, 0, 0.3);
}

nav img {
  max-height: 70px;
}

ul {
  list-style: none;
  display: flex;
}

li {
  margin: 0 15px;
}

a {
  text-decoration: none;
  color: #ecf0f1;
  font-weight: bold;
  font-size: 16px;
}
a:hover {
  color: #ffd700;
  background-color: #454545;
  border-radius: 5px;
  height: 30px;
}

/* Style the main content area if needed */
.main-content {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.bannerContent {
  margin-left: 15%;
  height: auto;
}
.bannerContent h2 {
  padding: 10px;
}
.additional-content {
  text-align: center;
  padding: 20px;
}

.additional-content h2 {
  color: #ffbc00;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 35px;
}

.additional-content p {
  font-style: italic;
}
/* Style the main content area */
.search-container {
  background-color: #454545;
  border-radius: 50px;
  overflow: hidden;
  max-width: 50%;
  margin: 20px auto;
  padding: 15px;
  display: flex;
  justify-content: space-evenly;
  color: #ffffff;
  height: 40px;
}

/* Style the individual text fields with lines */
.search-field {
  display: flex;
  align-items: center;
}

.search-field span {
  padding: 10px;
}

/* Style the line between text fields */
.divider {
  height: 40px;
  border-left: 1px solid white;
}

/* Style the circular search bar */
.search-bar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.search-bar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.domestpkg {
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: 30px;
  color: #5c5c5c;
}
.card-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 300px;
  height: 300px;
  border-radius: 10px 10px 0 0;
}

.card-overlay {
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
  height: 33%;
  background: rgba(165, 154, 155, 0.5);
  padding: 5px;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card h2 {
  margin: 0;
  font-size: 1.5rem;
  /* color: #333; */
}
/* 
.card p {
  margin: 10px 0 0;
  font-size: 1rem;
  color: #555;
} */
.left p {
  font-size: 12px;
}
.right p {
  font-size: 10px;
}
.right h4 {
  font-size: 14px;
  margin: 0;
  padding: 5px;
}

/* Add responsive styles */
@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  ul {
    margin-top: 10px;
  }

  li {
    margin: 10px 0;
  }
}
